.h5_polyline {
	
}

.h5_polyline canvas {
	position: absolute;
	top: 0;
	left: 0;  /*用canvans绘制动画会涉及到分层 用到z-index */
	width: 100%;
	height: 100%;
	
}

.h5_polyline .text {
	position: absolute;
	font-size: 12px;
	text-align: center;
	bottom: -20px;
	height: 20px;
	line-height: 20px;
	-webkit-transform: scale(0.5);
	-webkit-transition: all 1s 1.5s;
	-webkit-opacity: 0;
}

.h5_polyline_load .text {
	-webkit-opacity: 1;
}
.h5_polyline_leave .text {
	-webkit-opacity: 0;
}
